{
  "env": "dev",
  "openapiUrl": "https://api.namefi.dev/v-next/openapi/doc.json",
  "requestBaseUrl": "https://api.namefi.dev/v-next",
  "fetchedAt": "2026-03-13T12:05:42.897Z",
  "document": {
    "info": {
      "title": "Namefi API",
      "version": "next"
    },
    "servers": [
      {
        "description": "Dev Server",
        "url": "https://api.namefi.dev/v-next/"
      }
    ],
    "tags": [
      {
        "name": "dns"
      },
      {
        "name": "orders"
      },
      {
        "name": "user"
      },
      {
        "name": "balance"
      },
      {
        "name": "search"
      }
    ],
    "security": [
      {
        "apiKeyAuth": []
      }
    ],
    "components": {
      "securitySchemes": {
        "apiKeyAuth": {
          "type": "apiKey",
          "name": "x-api-key",
          "in": "header"
        }
      }
    },
    "openapi": "3.1.1",
    "paths": {
      "/dns/records": {
        "get": {
          "operationId": "getDnsRecords",
          "summary": "Get DNS records",
          "description": "Retrieve all DNS records for a specified domain zone. Returns an array of DNS records including A, AAAA, CNAME, MX, TXT, and other record types.",
          "tags": [
            "dns"
          ],
          "parameters": [
            {
              "name": "payloadType",
              "in": "query",
              "required": false,
              "schema": {
                "const": "ZoneSelect"
              },
              "allowEmptyValue": true,
              "allowReserved": true
            },
            {
              "name": "payload",
              "in": "query",
              "required": false,
              "schema": {
                "type": "object",
                "properties": {
                  "zoneName": {
                    "type": "string",
                    "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                  }
                },
                "required": [
                  "zoneName"
                ],
                "description": "ZoneSelect"
              },
              "style": "deepObject",
              "explode": true,
              "allowEmptyValue": true,
              "allowReserved": true
            },
            {
              "name": "timestamp",
              "in": "query",
              "required": false,
              "schema": {
                "type": "number"
              },
              "allowEmptyValue": true,
              "allowReserved": true
            },
            {
              "name": "nonce",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "allowEmptyValue": true,
              "allowReserved": true
            },
            {
              "name": "zoneName",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
              },
              "allowEmptyValue": true,
              "allowReserved": true
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "zoneName": {
                          "type": "string",
                          "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "A",
                            "AAAA",
                            "CNAME",
                            "MX",
                            "TXT",
                            "NS",
                            "SOA",
                            "PTR",
                            "SRV",
                            "CAA",
                            "DS",
                            "TLSA",
                            "SSHFP",
                            "HTTPS",
                            "SVCB",
                            "NAPTR",
                            "SPF"
                          ]
                        },
                        "class": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "integer",
                          "minimum": -2147483648,
                          "maximum": 2147483647
                        },
                        "rdata": {
                          "type": "string"
                        },
                        "metadata": {
                          "anyOf": [
                            {
                              "anyOf": [
                                {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                {
                                  "type": "object",
                                  "propertyNames": {
                                    "type": "string"
                                  },
                                  "additionalProperties": {}
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "anyOf": [
                                      {},
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                }
                              ]
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "x-native-type": "date"
                        }
                      },
                      "required": [
                        "id",
                        "zoneName",
                        "name",
                        "type",
                        "class",
                        "ttl",
                        "rdata",
                        "metadata",
                        "createdAt",
                        "updatedAt"
                      ],
                      "description": "DnsRecord"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "400",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "BAD_REQUEST"
                          },
                          "status": {
                            "const": 400
                          },
                          "message": {
                            "type": "string",
                            "default": "Bad Request"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "401",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "UNAUTHORIZED"
                          },
                          "status": {
                            "const": 401
                          },
                          "message": {
                            "type": "string",
                            "default": "Unauthorized"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "403",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "FORBIDDEN"
                          },
                          "status": {
                            "const": 403
                          },
                          "message": {
                            "type": "string",
                            "default": "Forbidden"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "404",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_FOUND"
                          },
                          "status": {
                            "const": 404
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Found"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "406": {
              "description": "406",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_ACCEPTABLE"
                          },
                          "status": {
                            "const": 406
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Acceptable"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "408": {
              "description": "408",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TIMEOUT"
                          },
                          "status": {
                            "const": 408
                          },
                          "message": {
                            "type": "string",
                            "default": "Request Timeout"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "409": {
              "description": "409",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "CONFLICT"
                          },
                          "status": {
                            "const": 409
                          },
                          "message": {
                            "type": "string",
                            "default": "Conflict"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "412": {
              "description": "412",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "PRECONDITION_FAILED"
                          },
                          "status": {
                            "const": 412
                          },
                          "message": {
                            "type": "string",
                            "default": "Precondition Failed"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "429": {
              "description": "429",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TOO_MANY_REQUESTS"
                          },
                          "status": {
                            "const": 429
                          },
                          "message": {
                            "type": "string",
                            "default": "Too Many Requests"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "500": {
              "description": "500",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "INTERNAL_SERVER_ERROR"
                          },
                          "status": {
                            "const": 500
                          },
                          "message": {
                            "type": "string",
                            "default": "Internal Server Error"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "x-badges": [
            {
              "name": "EIP712",
              "color": "#b5f5ce"
            }
          ]
        },
        "post": {
          "operationId": "createDnsRecord",
          "summary": "Create DNS record",
          "description": "Create a new DNS record for a domain. Requires domain ownership. The record will be validated against DNS zone rules before creation.",
          "tags": [
            "dns"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "payloadType": {
                          "const": "CreateDnsRecord"
                        },
                        "payload": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "enum": [
                                "A",
                                "AAAA",
                                "CNAME",
                                "MX",
                                "TXT",
                                "NS",
                                "SOA",
                                "PTR",
                                "SRV",
                                "CAA",
                                "DS",
                                "TLSA",
                                "SSHFP",
                                "HTTPS",
                                "SVCB",
                                "NAPTR",
                                "SPF"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "rdata": {
                              "type": "string"
                            },
                            "ttl": {
                              "type": "integer",
                              "minimum": -2147483648,
                              "maximum": 2147483647
                            },
                            "zoneName": {
                              "type": "string",
                              "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                            }
                          },
                          "required": [
                            "type",
                            "rdata",
                            "zoneName"
                          ],
                          "description": "CreateDnsRecord"
                        },
                        "timestamp": {
                          "type": "number"
                        },
                        "nonce": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "payloadType",
                        "payload",
                        "timestamp",
                        "nonce"
                      ],
                      "description": "CreateDnsRecordEip712Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "enum": [
                            "A",
                            "AAAA",
                            "CNAME",
                            "MX",
                            "TXT",
                            "NS",
                            "SOA",
                            "PTR",
                            "SRV",
                            "CAA",
                            "DS",
                            "TLSA",
                            "SSHFP",
                            "HTTPS",
                            "SVCB",
                            "NAPTR",
                            "SPF"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "rdata": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "integer",
                          "minimum": -2147483648,
                          "maximum": 2147483647
                        },
                        "zoneName": {
                          "type": "string",
                          "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                        }
                      },
                      "required": [
                        "type",
                        "rdata",
                        "zoneName"
                      ],
                      "description": "CreateDnsRecord"
                    }
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "payloadType": {
                            "const": "DnsRecord"
                          },
                          "payload": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "zoneName": {
                                "type": "string",
                                "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "A",
                                  "AAAA",
                                  "CNAME",
                                  "MX",
                                  "TXT",
                                  "NS",
                                  "SOA",
                                  "PTR",
                                  "SRV",
                                  "CAA",
                                  "DS",
                                  "TLSA",
                                  "SSHFP",
                                  "HTTPS",
                                  "SVCB",
                                  "NAPTR",
                                  "SPF"
                                ]
                              },
                              "class": {
                                "type": "string"
                              },
                              "ttl": {
                                "type": "integer",
                                "minimum": -2147483648,
                                "maximum": 2147483647
                              },
                              "rdata": {
                                "type": "string"
                              },
                              "metadata": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "boolean"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      },
                                      {
                                        "type": "array",
                                        "items": {
                                          "anyOf": [
                                            {},
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              }
                            },
                            "required": [
                              "id",
                              "zoneName",
                              "name",
                              "type",
                              "class",
                              "ttl",
                              "rdata",
                              "metadata",
                              "createdAt",
                              "updatedAt"
                            ],
                            "description": "DnsRecord"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "nonce": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "payloadType",
                          "payload",
                          "timestamp",
                          "nonce"
                        ],
                        "description": "DnsRecordEip712Envelope"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "zoneName": {
                            "type": "string",
                            "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "A",
                              "AAAA",
                              "CNAME",
                              "MX",
                              "TXT",
                              "NS",
                              "SOA",
                              "PTR",
                              "SRV",
                              "CAA",
                              "DS",
                              "TLSA",
                              "SSHFP",
                              "HTTPS",
                              "SVCB",
                              "NAPTR",
                              "SPF"
                            ]
                          },
                          "class": {
                            "type": "string"
                          },
                          "ttl": {
                            "type": "integer",
                            "minimum": -2147483648,
                            "maximum": 2147483647
                          },
                          "rdata": {
                            "type": "string"
                          },
                          "metadata": {
                            "anyOf": [
                              {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {},
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "zoneName",
                          "name",
                          "type",
                          "class",
                          "ttl",
                          "rdata",
                          "metadata",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "DnsRecord"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "400",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "BAD_REQUEST"
                          },
                          "status": {
                            "const": 400
                          },
                          "message": {
                            "type": "string",
                            "default": "Bad Request"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "401",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "UNAUTHORIZED"
                          },
                          "status": {
                            "const": 401
                          },
                          "message": {
                            "type": "string",
                            "default": "Unauthorized"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "403",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "FORBIDDEN"
                          },
                          "status": {
                            "const": 403
                          },
                          "message": {
                            "type": "string",
                            "default": "Forbidden"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "404",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_FOUND"
                          },
                          "status": {
                            "const": 404
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Found"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "406": {
              "description": "406",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_ACCEPTABLE"
                          },
                          "status": {
                            "const": 406
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Acceptable"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "408": {
              "description": "408",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TIMEOUT"
                          },
                          "status": {
                            "const": 408
                          },
                          "message": {
                            "type": "string",
                            "default": "Request Timeout"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "409": {
              "description": "409",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "CONFLICT"
                          },
                          "status": {
                            "const": 409
                          },
                          "message": {
                            "type": "string",
                            "default": "Conflict"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "412": {
              "description": "412",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "PRECONDITION_FAILED"
                          },
                          "status": {
                            "const": 412
                          },
                          "message": {
                            "type": "string",
                            "default": "Precondition Failed"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "429": {
              "description": "429",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TOO_MANY_REQUESTS"
                          },
                          "status": {
                            "const": 429
                          },
                          "message": {
                            "type": "string",
                            "default": "Too Many Requests"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "500": {
              "description": "500",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "INTERNAL_SERVER_ERROR"
                          },
                          "status": {
                            "const": 500
                          },
                          "message": {
                            "type": "string",
                            "default": "Internal Server Error"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "x-eip712-accepted-primary-types": [
            "CreateDnsRecordEnvelope"
          ],
          "x-eip712-types": {
            "CreateDnsRecord": [
              {
                "name": "name",
                "type": "string"
              },
              {
                "name": "rdata",
                "type": "string"
              },
              {
                "name": "ttl",
                "type": "uint256"
              },
              {
                "name": "zoneName",
                "type": "string"
              }
            ],
            "CreateDnsRecordEnvelope": [
              {
                "name": "payloadType",
                "type": "string"
              },
              {
                "name": "payload",
                "type": "CreateDnsRecord"
              },
              {
                "name": "timestamp",
                "type": "uint256"
              },
              {
                "name": "nonce",
                "type": "string"
              }
            ]
          },
          "x-badges": [
            {
              "name": "EIP712",
              "color": "#b5f5ce"
            }
          ]
        }
      },
      "/dns/record": {
        "put": {
          "operationId": "updateDnsRecord",
          "summary": "Update DNS record",
          "description": "Update an existing DNS record by its ID. Requires domain ownership. The updated record will be validated against DNS zone rules.",
          "tags": [
            "dns"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "payloadType": {
                          "const": "UpdateDnsRecord"
                        },
                        "payload": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "zoneName": {
                              "type": "string",
                              "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                            },
                            "type": {
                              "enum": [
                                "A",
                                "AAAA",
                                "CNAME",
                                "MX",
                                "TXT",
                                "NS",
                                "SOA",
                                "PTR",
                                "SRV",
                                "CAA",
                                "DS",
                                "TLSA",
                                "SSHFP",
                                "HTTPS",
                                "SVCB",
                                "NAPTR",
                                "SPF"
                              ]
                            },
                            "name": {
                              "type": "string"
                            },
                            "rdata": {
                              "type": "string"
                            },
                            "ttl": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "zoneName"
                          ],
                          "description": "UpdateDnsRecord"
                        },
                        "timestamp": {
                          "type": "number"
                        },
                        "nonce": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "payloadType",
                        "payload",
                        "timestamp",
                        "nonce"
                      ],
                      "description": "UpdateDnsRecordEip712Envelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "zoneName": {
                          "type": "string",
                          "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                        },
                        "type": {
                          "enum": [
                            "A",
                            "AAAA",
                            "CNAME",
                            "MX",
                            "TXT",
                            "NS",
                            "SOA",
                            "PTR",
                            "SRV",
                            "CAA",
                            "DS",
                            "TLSA",
                            "SSHFP",
                            "HTTPS",
                            "SVCB",
                            "NAPTR",
                            "SPF"
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "rdata": {
                          "type": "string"
                        },
                        "ttl": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "zoneName"
                      ],
                      "description": "UpdateDnsRecord"
                    }
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "payloadType": {
                            "const": "DnsRecord"
                          },
                          "payload": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "zoneName": {
                                "type": "string",
                                "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "A",
                                  "AAAA",
                                  "CNAME",
                                  "MX",
                                  "TXT",
                                  "NS",
                                  "SOA",
                                  "PTR",
                                  "SRV",
                                  "CAA",
                                  "DS",
                                  "TLSA",
                                  "SSHFP",
                                  "HTTPS",
                                  "SVCB",
                                  "NAPTR",
                                  "SPF"
                                ]
                              },
                              "class": {
                                "type": "string"
                              },
                              "ttl": {
                                "type": "integer",
                                "minimum": -2147483648,
                                "maximum": 2147483647
                              },
                              "rdata": {
                                "type": "string"
                              },
                              "metadata": {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "number"
                                          },
                                          {
                                            "type": "boolean"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "propertyNames": {
                                          "type": "string"
                                        },
                                        "additionalProperties": {}
                                      },
                                      {
                                        "type": "array",
                                        "items": {
                                          "anyOf": [
                                            {},
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "x-native-type": "date"
                              }
                            },
                            "required": [
                              "id",
                              "zoneName",
                              "name",
                              "type",
                              "class",
                              "ttl",
                              "rdata",
                              "metadata",
                              "createdAt",
                              "updatedAt"
                            ],
                            "description": "DnsRecord"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "nonce": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "payloadType",
                          "payload",
                          "timestamp",
                          "nonce"
                        ],
                        "description": "DnsRecordEip712Envelope"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "zoneName": {
                            "type": "string",
                            "pattern": "^[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?(\\.[a-z0-9_]([a-z0-9-]{0,61}[a-z0-9_])?)*$"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "A",
                              "AAAA",
                              "CNAME",
                              "MX",
                              "TXT",
                              "NS",
                              "SOA",
                              "PTR",
                              "SRV",
                              "CAA",
                              "DS",
                              "TLSA",
                              "SSHFP",
                              "HTTPS",
                              "SVCB",
                              "NAPTR",
                              "SPF"
                            ]
                          },
                          "class": {
                            "type": "string"
                          },
                          "ttl": {
                            "type": "integer",
                            "minimum": -2147483648,
                            "maximum": 2147483647
                          },
                          "rdata": {
                            "type": "string"
                          },
                          "metadata": {
                            "anyOf": [
                              {
                                "anyOf": [
                                  {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "propertyNames": {
                                      "type": "string"
                                    },
                                    "additionalProperties": {}
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {},
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "x-native-type": "date"
                          }
                        },
                        "required": [
                          "id",
                          "zoneName",
                          "name",
                          "type",
                          "class",
                          "ttl",
                          "rdata",
                          "metadata",
                          "createdAt",
                          "updatedAt"
                        ],
                        "description": "DnsRecord"
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "400",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "BAD_REQUEST"
                          },
                          "status": {
                            "const": 400
                          },
                          "message": {
                            "type": "string",
                            "default": "Bad Request"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "401",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "UNAUTHORIZED"
                          },
                          "status": {
                            "const": 401
                          },
                          "message": {
                            "type": "string",
                            "default": "Unauthorized"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "403": {
              "description": "403",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "FORBIDDEN"
                          },
                          "status": {
                            "const": 403
                          },
                          "message": {
                            "type": "string",
                            "default": "Forbidden"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "404": {
              "description": "404",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_FOUND"
                          },
                          "status": {
                            "const": 404
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Found"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "406": {
              "description": "406",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "NOT_ACCEPTABLE"
                          },
                          "status": {
                            "const": 406
                          },
                          "message": {
                            "type": "string",
                            "default": "Not Acceptable"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "408": {
              "description": "408",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TIMEOUT"
                          },
                          "status": {
                            "const": 408
                          },
                          "message": {
                            "type": "string",
                            "default": "Request Timeout"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "409": {
              "description": "409",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "CONFLICT"
                          },
                          "status": {
                            "const": 409
                          },
                          "message": {
                            "type": "string",
                            "default": "Conflict"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "412": {
              "description": "412",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "PRECONDITION_FAILED"
                          },
                          "status": {
                            "const": 412
                          },
                          "message": {
                            "type": "string",
                            "default": "Precondition Failed"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "429": {
              "description": "429",
              "content": {
                "application/json": {
                  "schema": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": true
                          },
                          "code": {
                            "const": "TOO_MANY_REQUESTS"
                          },
                          "status": {
                            "const": 429
                          },
                          "message": {
                            "type": "string",
                            "default": "Too Many Requests"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "defined": {
                            "const": false
                          },
                          "code": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          },
                          "data": {}
                        },
                        "required": [
                          "defined",
                          "code",
                          "status",
                          "message"
                        ]
                      }
                    ]
                  }
                }
              }
            },
            "500": {
[...]
